.OtherDataContainer {
    height: 150px;
    width: 300px;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 1px 1px 9px 5px lightgrey;
    border: none;
    position: absolute;
    left: 0;
    background-color: beige;

}

.OtherDataContainer {
    transform: scale(0);
    animation: popup 0.1s ease forwards;
}

@keyframes popup {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.UserDataInputFields {
    border-radius: 5px;
    background-color: rgba(233, 229, 229, 0.877);
    border: none;
    height: 20px;
    margin-right: 10px;
    position: relative;
    outline: none;
}

.userDataInputs {
    display: flex;
    flex-direction: column;
    margin: 20px 0 15px 0;
}

.UserDataLabel {
    display: inline-block;
    margin-right: 20px;
    margin-left: 40px;
    width: 50px;
}