.card {
    box-shadow: 1px 1px 9px 5px lightgrey;
    height: 522px;
    width: 400px;
    border-radius: 25px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    animation: hi 3s ease;
    transition: transform 1s ease;
    transform: translateX(0);
}

.card.animate {
    transform: translate(-280px, 300px);
}

@keyframes hi {
    0% {
        overflow: hidden
    }

    ;

    100% {
        overflow: visible
    }

    ;
}


.searchInputContainer {
    position: relative;
    width: 80%;
    margin: 15px auto;
}

.searchInput {
    border-radius: 5px;
    background-color: rgba(238, 235, 235, 0.877);
    border: none;
    height: 25px;
    width: 70%;
    margin-right: 28px;
    position: relative;
    outline: none;
}

.searchLabel {
    position: absolute;
    top: 0;
    left: 5px;
    color: #8b8b8b;
    transition: all 0.3s ease;
    pointer-events: none;
}


.searchInput:focus~.searchLabel,
.searchInput:valid~.searchLabel {
    top: -18px;
    font-size: 12px;
    color: #333;
}




.addButton {
    width: 20%;
    border-radius: 5px;
    border: none;
    background-color: rgb(233, 229, 229);
    height: 25px;
    box-shadow: 1px 2px 6px 1px lightgrey;

}

.addButton:active {
    box-shadow: none;
}

.UsersDataContainer {
    position: relative;

}

.todosAndPosts {
    position: relative;
    left: 500px;
    top: -472px;
}